# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
jsconfig.json
.vscode/launch.json
.vscode/settings.json
android/.project
android/.settings/org.eclipse.buildship.core.prefs
android/app/.classpath
android/app/.project
android/app/.settings/org.eclipse.buildship.core.prefs
android/gradlew.bat
android/gradlew
ios/Pods
ios/crmHybric.xcworkspace
ios/Podfile.lock
ios/bundle
yarn.lock
package-lock.json
android/local.properties
android/.gradle/6.0.1/gc.properties
android/.gradle/6.0.1/fileChanges/last-build.bin
android/.gradle/6.0.1/fileHashes/fileHashes.bin
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/vcs-1/gc.properties
android/app/app.iml
android/java_pid15528.hprof
android/java_pid16619.hprof
android/java_pid17436.hprof
android/java_pid54876.hprof
android/java_pid54923.hprof
# react-native-config codegen
ios/tmp.xcconfig
output.json
